<footer class="footer py-3 bg-dark mt-auto" >
    <div class="container" data-bs-theme="dark">
        <span class=" text-dark-emphasis">YelpCamp! @2023 by the Magnificent Gustavo Sanches</span>
    </div>
</footer>